@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.productiva {
    display: flex;
    flex-direction: row;
}

.side-navbar {
    padding: 20px;
    width: 15.2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFBF9B;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
}

.side-navbar .gambar {
    transform: translateY(-150px);
    z-index: -1;
}

.profile {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    padding-top: 10px;
    width: 115.87px;
    height: 104.87px;
    object-fit: cover;
    background-color: #B46060;
    border-radius: 50%;
}

.productiva h1 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 26.2927px;
    line-height: 40px;
    color: #FFF4E0;
    text-align: center;
}

.features {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.features li {
    margin-top: 17px;
    width: 174.51px;
    height: 42.23px;
    background: #B46060;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #FFF4E0;
}

.features li:hover {
    background: #c37474;
}

.logout {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    height: 20px;
    background: #4D4D4D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.logout img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logout p {
    font-weight: 600;
    font-size: 20px;
    color: #FFF4E0 !important;
}

.icon {
    margin-right: 10px;
}

.kosong {
    width: 18.2%;
}

.content-page {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(../units/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.backgroundsvg{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../units/background.svg');
  background-size: cover;
  z-index:-1;
}

.add-task {
    margin-top: 100px;
}

.add-task-box {
    display: flex;
    justify-content: left;
    height: 37px;
    width: 1000px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
}

.add-task-box button,
.add-task-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #FFBF9B;
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
    align-items: center;
    justify-content: center;
}

.add-task-box button {
    width: 50px;
    cursor: pointer;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 55px;
    margin-bottom: 100px;
    grid-gap: 30px;
}

.task-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.judul-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFBF9B;
    border-radius: 9px;
    width: 150px;
    height: 35px;
    transform: translateY(50%);
}

.judul-box p {
    font-weight: 400;
    font-size: 25px;
    color: #4D4D4D;
}

.konten-box {
    width: 300px;
    height: 309px;
    background: #B46060;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.isi-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
    overflow-y: scroll;
}



.isi-list::-webkit-scrollbar {
    width: 0px;
}

.isi-list-box {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: row;
    width: 280px;
    height: 35px;
    background: #4D4D4D;
    border-radius: 9px;
    align-items: center;
}

.isi-list-box a{
    text-align: right;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.isi-list-box p {
    line-height: 18px;
    font-weight: 400;
    width: 180px;
    font-size: 18px;
    color: #FFF4E0;
    margin-left: 10px;
    color: #FFBF9B;

}

.isi-list-box input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #FFBF9B;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.isi-list-box input[type="checkbox"]:checked+p {
    text-decoration: line-through;
}

.isi-list-box input[type="checkbox"]:checked:after {
    content: '\2713';
    font-size: 12px;
    color: #FFBF9B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.isi-list-box input[type="checkbox"]:checked {
    transform: scale(1); /* Menetapkan ukuran tetap pada checkbox yang dicentang */
    border-color: #FFBF9B; /* Menjaga warna border tetap konsisten */
}

.add-list-button{
    background-color: #FFBF9B;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.form-wrap{
    display: flex;
    
}

.form-wrap input{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFBF9B;
    width: 200px;
    text-indent: 5px;
    height: 10px;
    border-radius: 18px;
    outline: none;
    border: none;
    font-size: 18px;
}

.button-wrap{
    display: grid;
    grid-gap: 8px;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 10px;
}

.add-list-button button{
    font-size: 15px;
    font-weight: 500;
    color: #4D4D4D;
    background-color: transparent;
    border: none;
    outline: none;
}

.add-list-button:hover{
    cursor: pointer;
}

.add-list-button button:hover{
    cursor: pointer;
}

.blank{
    margin-bottom: 109px;
}
